* {
  margin: 0;
  box-sizing: border-box;
}

.main-container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 102px;
}

.services-section {
  text-align: center;
  font-family: "IBM Plex Serif";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 47px;
}
.services-section h2 {
  padding-bottom: 20px;
}
.services-section img {
  margin-bottom: 10px;
}
.services-section h6 {
  font-family: "IM FELL Great Primer SC";
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #e2b749;
}
.services-card {
  display: flex;
  gap: 17px;
}
.card1 h2 {
  padding-bottom: 20px;
  font-family: "IBM Plex Serif";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 47px;
  color: #000000;
}
.card1 p {
  padding-bottom: 20px;
  font-family: "IBM Plex Serif";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #000000;
}
.card1 img {
  width: 400px;
  height: 289px;
  margin-bottom: 33px;
}

.phone-section1 img {
  width: 22px;
  height: 22px;
}
.phone-section1 h5 {
  font-family: "IBM Plex Serif";
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 34px;
}
.phone-section1 {
  display: flex;
  gap: 4px;
  padding-left: 100px;
}

.card2 h2 {
  padding-bottom: 20px;
  font-family: "IBM Plex Serif";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 47px;
  color: #000000;
}
.card2 p {
  padding-bottom: 20px;
  font-family: "IBM Plex Serif";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #000000;
}
.card2 img {
  margin-bottom: 33px;
}
.phone-section2 img {
  width: 22px;
  height: 22px;
  margin-top: 26px;
}
.phone-section2 h5 {
  margin-top: 20px;
  font-family: "IBM Plex Serif";
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 34px;
}
.phone-section2 {
  display: flex;
  gap: 4px;
  padding-left: 100px;
}

.card3 h2 {
  padding-bottom: 20px;
  font-family: "IBM Plex Serif";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 47px;
  text-align: center;
  color: #000000;
}
.card3 p {
  font-family: "IBM Plex Serif";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #000000;
}

.card3 img {
  margin-bottom: 33px;
}
.phone-section3 img {
  width: 22px;
  height: 22px;
  margin-top: 26px;
}
.phone-section3 h5 {
  margin-top: 20px;
  font-family: "IBM Plex Serif";
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 34px;
}
.phone-section3 {
  display: flex;
  gap: 4px;
  padding-left: 100px;
}
