/* font-family: 'Inconsolata', monospace; */
* {
  margin: 0;
  box-sizing: border-box;
}
.main-container {
  max-width: 1440px;
  margin: 0 auto;
}
.navbar {
  display: flex;
  align-items: center;
  background: #fcf9ef;
  flex-wrap: wrap;
}
.navlogo-img {
  display: flex;
  width: 324px;

  gap: 10px;
  align-items: center;
}
.nav-section1 {
  display: flex;
  width: 324px;
  padding: 26px 14px 14px 30px;
  gap: 10px;
}
.nav-section1 h1 {
  display: flex;
  font-family: "Inconsolata", monospace;
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 20px;

  color: #000000;
}
.nav-setion2 {
  padding: 38px 25px 38px 40px;
  display: flex;
  align-items: center;
  border-right: 1px solid #e2b749;
  border-left: 1px solid #e2b749;
}
.nav-setion2 .links a {
  padding-right: 40px;
  font-family: "IBM Plex Serif";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  text-decoration: none;

  color: #000000;
}
.social-links {
  padding-left: 12px;
}
.nav-section3 {
  padding-left: 14px;
}
.nav-section3 h2 {
  font-family: "IBM Plex Serif";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  /* identical to box height */

  color: #e2b749;
}
.nav-section3 p {
  font-family: "IBM Plex Serif";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  /* identical to box height */

  color: #000000;
}
.image-phone {
  display: none;
}
.hero-section {
  background-image: url(./assets/Group\ 8.png);
  padding: 38px 0 103px 100px;
}
.hero-section-info {
  width: 427px;
}
.hero-section h3 {
  font-family: "IM FELL Great Primer SC";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  padding: 10px 0 30px 0;

  color: #e2b749;
}
.hero-section p {
  font-family: "IBM Plex Serif";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 47px;

  color: #000000;
  padding-bottom: 20px;
}
.phone-number {
  display: flex;
  align-items: center;
}
.phone-number h4 {
  font-family: "IBM Plex Serif";
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 34px;
  padding-left: 4px;
  color: #000000;
}
.reason-section {
  text-align: center;
  padding: 78px 100px 50px;
  background-image: url(./assets/reasonbackground.png);
  position: relative;
}
.vanleft {
  position: absolute;
  left: 100px;
  top: -64px;
}
.vanright {
  position: absolute;
  right: 100px;
  top: -64px;
}
.services-section {
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 84px;
  padding-bottom: 140px;
  gap: 20px;
}
.services-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.services-details {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 17px;
  justify-content: center;
}
.service-1 {
  max-width: 400px;
  align-items: center;
  border-bottom: 8px solid #e2b749;
}
.service-1-details {
  text-align: center;
}
.service-1-details h2 {
  padding: 33px 0 20px;
}
.intro-number-digit li {
  padding: 20px 0 30px;
}
.service-paragraph {
  font-family: "IBM Plex Serif";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  padding: 0 43px;
  color: #000000;
}
.service-card-h {
  font-family: "IBM Plex Serif";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 47px;
  /* identical to box height */

  color: #000000;
}
.service-intro-number {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 4px;
}
.services-heading p {
  font-family: "IM FELL Great Primer SC";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */

  color: #e2b749;
}
.read-more {
  text-align: center;
  padding-bottom: 10px;
}
.service-1-pic {
  max-width: 400px;
  height: 289px;
}
.service-2 {
  max-width: 400px;
  align-items: center;
  border-bottom: 8px solid #e2b749;
}
.service-3 {
  max-width: 400px;
  align-items: center;
  border-bottom: 8px solid #e2b749;
}
.service-1-pics-2 {
  display: flex;
  flex-direction: row;
}
.service-1a-pic {
  max-width: 200px;
}
.services-2-divs {
  display: flex;
  flex-direction: column;
}

.reason-section::before {
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(123, 113, 87, 0.89);
  position: absolute;
  top: 0;
  left: 0;
}
.service-img {
  position: relative;
}

.reason-section .reason-section-para {
  font-family: "IM FELL Great Primer SC";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */
  position: relative;

  color: #e2b749;
  padding-top: 10px;
  padding-bottom: 20px;
}
.reason-section h3 {
  font-family: "IBM Plex Serif";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 47px;
  /* identical to box height */
  padding-bottom: 66px;
  color: #000000;
  position: relative;
}
.cards {
  display: flex;
  gap: 20px;
  position: relative;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}
.card {
  text-align: center;
  width: 190px;
  border-top: 1px solid #e2b749;
  border-bottom: 1px solid #e2b749;
  background-color: #fefefe;
  padding: 21px 11px;
}
.card p {
  padding-top: 30px;
  font-family: "IBM Plex Serif";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  text-align: center;

  color: #000000;
}
.team {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team-heading {
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding-top: 76px;
  padding-bottom: 20px;
}
.team-heading h2 b {
  font-family: "IBM Plex Serif";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 47px;
  /* identical to box height */

  color: #e2b749;
}
.team-photos {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  padding-bottom: 126px;
}
.team-photo-details {
  align-items: center;
  border-top: 4px solid #e2b749;
  border-bottom: 4px solid #e2b749;
  max-width: 400px;
  padding: 22px 55px 22.5px 54px;
  box-shadow: 10px 6px 24px rgba(0, 0, 0, 0.25);
}
.team-area {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 74px;
  gap: 200px;
}
.team-setting p {
  font-family: "IM FELL Great Primer SC";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */

  color: #e2b749;
}
.team-area-text {
  max-width: 100%;
}
.team-contact {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding-top: 40px;
}
.team-number {
  display: flex;
  flex-direction: row;
  gap: 4px;
}
.team-contact h6 {
  padding-bottom: 20px;
  font-family: "IBM Plex Serif";
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 44px;

  color: #e2b749;
}
.intro-number-digit ul li {
  list-style-type: none;
  color: #000000;
}
.intro-number-digit ul {
  list-style-image: url(./assets/cellphone.png);
}
.intro-number-digit b {
  font-family: "IBM Plex Serif";
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 34px;

  color: #000000;
}

.service-area {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.service-area h2 {
  font-family: "IBM Plex Serif";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 47px;
  /* identical to box height */

  color: #000000;
}
.team-area-pic {
  width: 650px;
  height: 482px;
}
.service-area-list {
  width: 260px;
  font-size: 20px;
  text-decoration: none;
}
.service-area-list ul li {
  list-style-type: none;
  font-size: 20px;
}
.service-area-list a {
  text-decoration: none;
  color: #000000;
}
.service-area-list ul {
  list-style-image: url("./assets/truck.png");
}
.service-area-list ul li {
  font-family: "IBM Plex Serif";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  /* identical to box height */

  color: #000000;
}
.video {
  display: flex;
  flex-direction: column;
  padding: 76px 101px 100px 120px;
  gap: 40px;
  border-bottom: 8px solid #e2b749;
  border-top: 8px solid #e2b749;
}
.video-text {
  color: #e2b749;
}
.testimonial {
  display: flex;
  flex-direction: column;
  padding: 76px 132px;
  gap: 34px;
}
.testimonial-headings {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.testimonial-headings h1 {
  font-family: "IBM Plex Serif";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 47px;
  /* identical to box height */

  color: #e2b749;
}
.testimonial-customers {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 60px !important;
  flex-wrap: wrap;
  justify-content: space-between;
}
.testimonial .testimonial-customers .slick-dots li button::before{
  font-size: 14px;
  line-height: 60px;
}
.reviewed-testimonial {
  display: flex !important;
  flex-direction: column;
  gap: 17px;
  align-items: center;
  padding: 2px;
  max-width: 600px;
  height: auto !important;
}
.reviewed-testimonial-text {
  text-align: center;
  font-family: "IBM Plex Serif";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #000000;
  height: 78px!important;
}
.reviewed-testimonial-ratting {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  margin-top: 50px;
}
.reviewed-testimonial-ratting p {
  font-family: "IBM Plex Serif";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  /* identical to box height */

  color: #000000;
}
.reviewed-testimonial-ratting img {
  padding-bottom: 10px;
}
.contact-section {
  background-image: url("./assets/contact.png");
  padding-top: 77px;
  padding-bottom: 77px;
}
.contact-section-b {
  padding-bottom: 70px;
}
.contact-section-details {
  display: flex;
  flex-direction: column;
  padding-left: 750px;
  padding-right: 101px;
  gap: 8px;
}
.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 20px;
}
.form-inline input {
  vertical-align: middle;

  padding: 10px;
  color: #000000;
  background-color: #fff;
  border: 2px solid rgba(226, 183, 73, 1);
}
.form-text {
  width: 215px;
  border-radius: 15px;
}
.form-email {
  width: 215px;
  border-radius: 15px;
}
.form-text-service {
  width: 450px;
  border-radius: 15px;
}
.form-number {
  width: 215px;
  border-radius: 15px;
}
.form-textarea {
  width: 450px;
  height: 200px;
  border-radius: 15px;
  padding-top: 15px;
  padding-left: 10px;
  border: 2px solid rgba(226, 183, 73, 1);
}
.form-btn {
  margin-top: 32px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  border-color: #e2b749;
  font-family: Arial;
  color: white;
  font-size: 20px;
  background: #e2b749;
  padding: 19px 20px 19px 20px;
  text-decoration: none;
}

.form-btn:hover {
  background: #d9c593;
  text-decoration: none;
}
.footer-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 72px;
  background-color: #22202e;
  color: white;
  padding: 76px 94px 70px 100px;
  flex-wrap: wrap;
}
.footer-company-brand-image {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  width: 310px;
}
.footer-logo-text {
  size: 32px;
}
.footer-logo-text h4 b {
  font-family: "Inconsolata";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 34px;

  color: #ffffff;
}
.footer-column-1 {
  display: flex;
  flex-direction: column;
}
.footer-contact ul li {
  list-style: none;
  color: white;
  font-size: 20px;
  font-family: "IBM Plex Serif";
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 34px;
  /* identical to box height */
  padding: 20px 0 10px;
  color: #ffffff;
}
.footer-icons {
  display: flex;
  flex-direction: row;
  gap: 6px;
}
.footer-column-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;
}
.footer-column-2 ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  flex: none;
  order: 1;
  gap: 8px;
  font-size: 20px;
  flex-grow: 0;
}
.footer-column-2 a {
  text-decoration: none;
}
.footer-column-2 ul li {
  list-style: none;
  color: white;
}

.footer-column-3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;
  max-width: 186px;
}
.footer-column-3 ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  flex: none;
  order: 1;
  gap: 8px;
  font-size: 20px;
  flex-grow: 0;
}
.footer-column-3 a {
  text-decoration: none;
}
.footer-column-3 ul li {
  list-style: none;
  color: white;
}
.footer-column-4 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer-column-4 ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 20px;
  padding-left: 27px;
}
.footer-column-4 a {
  text-decoration: none;
}
.footer-column-4 ul li {
  color: white;
}



@media screen and (max-width: 380px) {

.footer-logo-text {
  size: 28px;
}
.footer-logo-text h4 b {
  font-family: "Inconsolata";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 28px;

  color: #ffffff;
}
}

@media screen and (max-width: 1080px) {
  .nav-section1 {
    padding: 29px 24px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }
  .nav-section2 {
    padding: 0 24px;
    display: none;
  }
  .links {
    display: none;
  }
  .nav-setion2 {
    display: none;
  }
  .nav-section3 {
    display: none;
    padding: 0 24px;
  }
}
@media screen and (max-width: 1080px) {
  .image-phone {
    display: block;
  }



  
  /* .reviewed-testimonial {
    justify-content: center;
  } */
}
@media screen and (min-width: 1081px) and (max-width: 1180px) {
  .nav-section3 {
    display: none;
    padding: 0 24px;
  }

  .nav-setion2 {
    padding: 38px auto 38px 15px;
   
  }
  .nav-setion2 .links a {
    padding-right: 20px;
  }

  .nav-section1 {
    width: 324px;
    padding: 26px 10px 14px 14px;
    gap: 10px;
  }

}

@media screen and (min-width: 1180px) and (max-width: 1350px) {
 
  .nav-setion2 {
    padding: 38px auto 38px 15px;  
  }
  .nav-setion2 .links a {
    padding-right: 20px;
  }

  .nav-section1 {
    width: 324px;
    padding: 26px 10px 14px 14px;
    gap: 10px;
  }
  .nav-section3 {
    padding-left: 6px;
  }

}


@media screen and (min-width: 320px) and (max-width: 768px) {
  .team-area {
    gap: 0;
    padding: 0 24px;
    align-items: inherit;
    display: none;

  }

  .team {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 100%;
  }
  .services-details {
    padding: 0 24px;
    justify-content: center;
  }
  .reason-section {
    padding: 60px 24px;
  }

  .vanleft {
    left: 20px;
    top: -43px;
    width: 140px;
  }
  .vanright {
    right: 20px;
    top: -43px;
    width: 140px;
  }
  .video {
    padding: 0 24px;
  }
  .testimonial {
    padding: 50px 24px;
  }
  .hero-section-info {
    width: 100%;
  }
  .hero-section {
    padding: 38px 24px;
  }

  .footer-section {
    padding: 50px 24px;
    justify-content: normal;
  }
  .service1image {
    width: 100%;
  }
  .team-photos {
    justify-content: center;
  }
}

@media screen and (min-width: 320px) and (max-width: 780px) {
  .video {
    display: flex;
    flex-direction: column;
    padding: 36px 24px 30px 24px;
    gap: 40px;
    border-bottom: 8px solid #e2b749;
    border-top: 8px solid #e2b749;
  }
  .video-display {
    align-items: center;
    max-width: auto;
    height: auto;
  }
  /* .testimonial {
    display: flex;
    flex-direction: column;
    padding: 76px 24px;
    gap: 34px;
  }

  .testimonial-customers {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding-left: 24px;
    padding-right: 24px;
  }
  .reviewed-testimonial {
    display: flex;
    flex-direction: column;
    gap: 17px;
    align-items: center;
    padding: 2px;
    max-width: auto;
  } */
  .team {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 24px;
    padding-right: 24px;
  }

  .team-area {
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 24px;
    gap: 50px;
  }
  .team-area-pic {
    max-width: 300px;
    height: auto;
  }
  .img-wi {
    width: 290px;
  }
  /*
  .services-section {
    max-width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 84px;
    padding-bottom: 50px;
    gap: 20px;
  }

  .services-details {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding-left: 24px;
    padding-right: 24px;
  }*/
}

@media screen and (min-width: 781px) and (max-width: 900px) {
  .video {
    display: flex;
    flex-direction: column;
    padding: 56px 40px 40px 40px;
    gap: 40px;
    border-bottom: 8px solid #e2b749;
    border-top: 8px solid #e2b749;
  }
  .video-display {
    align-items: center;
    max-width: auto;
    height: auto;
  }
}

@media screen and (min-width: 901px) and (max-width: 1200px) {
  .video {
    display: flex;
    flex-direction: column;
    padding: 56px 40px 30px 40px;
    gap: 40px;
    border-bottom: 8px solid #e2b749;
    border-top: 8px solid #e2b749;
  }
  .video-display {
    max-width: auto;
    height: auto;
  }
}

@media screen and (min-width: 320px) and (max-width: 650px) {
  .contact-section {
    background-image: url("./assets/contact.png");
    padding-top: 77px;
    padding-bottom: 77px;
  }

  .form-btn {
    margin-top: 32px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0px;
    border-color: #e2b749;
    font-family: Arial;
    color: white;
    font-size: 20px;
    background: #e2b749;
    padding: 19px 20px 19px 20px;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
  }
  .contact-section-b {
    padding-bottom: 30px;
  }
  .contact-section-details {
    display: flex;
    flex-direction: column;
    padding-left: 24px;
    padding-right: 24px;
    gap: 8px;
  }
  .form-text {
    width: 100%;
    border-radius: 15px;
  }
  .form-email {
    width: 100%;
    border-radius: 15px;
  }
  .form-text-service {
    width: 100%;
    border-radius: 15px;
  }
  .form-number {
    width: 100%;
    border-radius: 15px;
  }
  .form-textarea {
    width: 100%;
    height: 200px;
    border-radius: 15px;
    padding-top: 15px;
    padding-left: 10px;
    border: 2px solid rgba(226, 183, 73, 1);
  }
}

@media screen and (min-width: 650px) and (max-width: 1050px) {
  .contact-section {
    background-image: url("./assets/contact.png");
    padding-top: 77px;
    padding-bottom: 77px;
  }
  .contact-section-b {
    padding-bottom: 30px;
  }
  .contact-section-details {
    display: flex;
    align-content: center;
    flex-direction: column;
    padding-left: 50px;
    padding-right: 50px;
    gap: 8px;
  }
  .form-text {
    width: 39%;
    border-radius: 15px;
  }
  .form-email {
    width: 39%;
    border-radius: 15px;
  }
  .form-text-service {
    width: 80%;
    border-radius: 15px;
  }
  .form-number {
    width: 39%;
    border-radius: 15px;
  }
  .form-textarea {
    width: 80%;
    height: 200px;
    border-radius: 15px;
    padding-top: 15px;
    padding-left: 10px;
    border: 2px solid rgba(226, 183, 73, 1);
  }
}

@media screen and (min-width: 1051px) and (max-width: 1313px) {
  .contact-section {
    background-image: url("./assets/contact.png");
    padding-top: 77px;
    padding-bottom: 77px;
  }
  .contact-section-b {
    padding-bottom: 30px;
  }
  .contact-section-details {
    display: flex;
    align-content: center;
    flex-direction: column;
    padding-left: 680px;
    padding-right: 30px;
    gap: 8px;
  }
  .form-text {
    width: 43%;
    border-radius: 15px;
  }
  .form-email {
    width: 43%;
    border-radius: 15px;
  }
  .form-text-service {
    width: 90%;
    border-radius: 15px;
  }
  .form-number {
    width: 43%;
    border-radius: 15px;
  }
  .form-textarea {
    width: 90%;
    height: 200px;
    border-radius: 15px;
    padding-top: 15px;
    padding-left: 10px;
    border: 2px solid rgba(226, 183, 73, 1);
  }
}

@media screen and (min-width: 320px) and (max-width: 780px) {
  .team-photos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
    /* align-content: center;
          align-items: center; */
    padding-bottom: 126px;
    width: 100%;
  }

  .team-photo-details {
    align-items: center;
    border-top: 4px solid #e2b749;
    border-bottom: 4px solid #e2b749;
    max-width: auto;
    padding: 22px auto 22.5px auto;
justify-content: center;
    box-shadow: 10px 6px 24px rgba(0, 0, 0, 0.25);
  }
  .team-photo-details img{
    max-width: 100%;
  }
  .img-size {
    width: 85%;
  }
  /* .team-heading {
    padding-left: 24px;
  } */
}

@media screen and (min-width: 781px) and (max-width: 852px) {
  .team-photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    align-content: center;
    align-items: center;
    padding-right: auto;
    padding-left: auto;
    padding-bottom: 126px;
  }
  .team-photo-details {
    max-width: 340px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 22px 24px 22.5px 24px;
    box-shadow: 10px 6px 24px rgba(0, 0, 0, 0.25);
  }
}

@media screen and (min-width: 853px) and (max-width: 927px) {
  .team-photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    align-content: center;
    align-items: center;
    padding-right: auto;
    padding-left: auto;
    padding-bottom: 126px;
  }
  .team-photo-details {
    max-width: 350px;
    margin-left: 40px;
    margin-right: 40px;
    padding: 22px 24px 22.5px 24px;
    box-shadow: 10px 6px 24px rgba(0, 0, 0, 0.25);
  }
}

@media screen and (min-width: 927px) and (max-width: 1027px) {
  .team-photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    align-content: center;
    align-items: center;
    padding-right: auto;
    padding-left: auto;
    padding-bottom: 126px;
  }
  .team-photo-details {
    max-width: 400px;
    margin-left: 60px;
    margin-right: 60px;
    padding: 22px 24px 22.5px 24px;
    box-shadow: 10px 6px 24px rgba(0, 0, 0, 0.25);
  }
}

@media screen and (min-width: 1028px) and (max-width: 1240px) {
  .team-photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 10px;
    padding-right: 24px;
    padding-left: 24px;
    padding-bottom: 126px;
  }
  .team-photo-details {
    max-width: 320px;
    padding: 22px 24px 22.5px 24px;
    box-shadow: 10px 6px 24px rgba(0, 0, 0, 0.25);
  }
}

@media screen and (min-width: 320px) and (max-width: 420px) {
  .team-area {
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    padding-right: 22px;
    padding-bottom: 24px;
    gap: 50px;
  }
  .team-area-pic {
    max-width: 290px;
    height: auto;
  }
  .img-wi {
    width: 280px;
  }
}

@media screen and (min-width: 421px) and (max-width: 600px) {
  .team-area {
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 24px;
    gap: 50px;
  }
  .team-area-pic {
    max-width: 400px;
    height: auto;
  }
  .img-wi {
    width: 400px;
  }
}

@media screen and (min-width: 601px) and (max-width: 740px) {
  .team-area {
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 24px;
    gap: 50px;
  }
  .team-area-pic {
    max-width: 560px;
    height: auto;
  }
  .img-wi {
    width: 550px;
  }
  .team-contact {
    display: flex;
    flex-direction: column;
    gap: 1px;
    padding-top: 20px;
  }
}

@media screen and (min-width: 741px) and (max-width: 936px) {
  .team-area {
    display: flex;
    flex-direction: column;
    padding-left: 34px;
    padding-right: 0px;
    padding-bottom: 24px;
    gap: 50px;
  }
  .team-area-pic {
    max-width: 680px;
    height: auto;
  }
  .img-wi {
    width: 670px;
  }
  .team-contact {
    display: flex;
    flex-direction: column;
    gap: 1px;
    padding-top: 20px;
  }
}

@media screen and (min-width: 937px) and (max-width: 1309px) {
  .team-area {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 34px;
    padding-right: 0px;
    padding-bottom: 24px;
    gap: 80px;
  }
  .team-area-pic {
    max-width: 529px;
    height: auto;
  }
  .img-wi {
    width: 519px;
  }

  .team-contact {
    display: flex;
    flex-direction: column;
    gap: 1px;
    padding-top: 30px;
  }
}

 /* @media screen and (min-width: 320px) and (max-width: 600px) {
  .reviewed-testimonial {
    display: flex !important;
    flex-direction: column;
    gap: 17px;
    align-items: center;
    width: auto !important;
    max-width: auto !important;
    padding-left: auto !important;
    padding-right: auto !important;
    margin-left: auto;
    margin-right: auto;
  }
   } */
     /*
  .testimonial-customers {
    display: flex !important;
    flex-direction: row !important;
    align-items: center;
    gap: 40px !important;
    justify-content: center;
    width: 300px !important;
  }




}
  @media screen and (min-width: 396px) and (max-width: 456px) {
    .reviewed-testimonial {
      display: flex !important;
      flex-direction: column;
      gap: 17px;
      align-items: center;
      padding: 2px;
      width: 370px !important;
    }
    
    .testimonial-customers {
      display: flex !important;
      align-items: center;
      gap: 40px !important;
      justify-content: center;
      width: 370px !important;
    }


}
@media screen and (min-width: 457px) and (max-width: 500px) {
.reviewed-testimonial {
  display: flex !important;
  flex-direction: column;
  gap: 17px;
  align-items: center;
  padding: 2px;
  width: 457px !important;
}

.testimonial-customers {
  display: flex !important;
  align-items: center;
  gap: 40px !important;
  justify-content: center;
  width: 457px !important;
}
}
@media screen and (min-width: 501px) and (max-width: 620px) {
  .reviewed-testimonial {
    display: flex !important;
    flex-direction: column;
    gap: 17px;
    align-items: center;
    padding: 2px;
    width: 501px !important;
  }
  
  .testimonial-customers {
    display: flex !important;
    align-items: center;
    gap: 40px !important;
    justify-content: center;
    width: 501px !important;
  }
  } */